{% extends 'app/basic.html' %}
{% load static %}
{%block title %}Medicine Add {% endblock title %}
{% block css %}
<style>
  .form-control{
    font-weight:600;
  }
  label{
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(228, 228, 106);

  }
  
</style>
  {% endblock css %}
{% block content%}

<div class="container">
  <h4 class="text-center bg-success py-3 my-3">Add Medicines</h4>
  
  <form action="" method="post">
    
    {% csrf_token %}
    {{fm.as_p}}
    
    <input type="submit" class=" btn btn-info" value="Add Medicine" >

    
    
  </form>
  
</div>






{%endblock content%}