{% extends 'app/basic.html' %}
{% load static %}
{%block title %}Search Patient{% endblock title %}
{% block css %}
<style>
      table,
    td,
    th,
    tr {
        border: 2px solid brown;
       text-align: center;
       text-transform: uppercase;
       
    }
      .td{
        text-transform: uppercase;
        color: black;
        font-weight: 600;

      }
</style>

{% endblock css %}

{% block content%}

<div class=" container col-sm-12 my-3 ">
    
    <form class="d-flex" method="POST" action="{% url 'searchp' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="searchp" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div class="container">
    <div class="col-sm-12 ">
        <div class="container-fluid">

        </div>
        {% if result %}
        <h4 class="text-center bg-info my-3 py-3">Patient Details</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PatientFirstName</th>
                    <th scope="col">PatientMidddleName</th>
                    <th scope="col">PatientLastName</th>
                    <th scope="col">Address</th>
                    <th scope="col">MobileNO</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in result %}
                    <td class="td" scope="row">{{forloop.counter}}</td>
                    <td class="td" scope="row">{{value.patient_firstname}}</td>
                    <td class="td" scope="row">{{value.patient_middlename}}</td>
                    <td class="td" scope="row">{{value.patient_lastname}}</td>
                    <td class="td">{{value.patient_address}}</td>
                    <td class="td">{{value.patient_mobileno}}</td>
                    <td class="td">{{value.time}}</td>
                    <td class="td">
                        <a href="{% url 'update' value.id %}" class="btn btn-warning btn-sm ">EDIT</a>
                        <form action="{% url 'pdelete' value.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>


                </tr>

                {% endfor %}
            </tbody>
        </table>


        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}



    </div>
</div>
</div>

<div class="container">

    <a href="/clinik/patientdetails"><button type="submit" class="btn btn-info">Back</button></a>
</div><br>












{%endblock content%}