{% extends 'app/basic.html' %}
{% load static %}
{%block title %}Notes{% endblock title %}
{% block css %}
<style>
      table,
    td,
    th,
    tr {
        border: 2px solid brown;
       text-align: center;
       text-transform: uppercase;
       
    }
      .td{
        text-transform: uppercase;
        color: black;
        font-weight: 600;

      }
</style>

{% endblock css %}

{% block content%}
<div class=" container col-sm-12 my-3 ">
    
    <form class="d-flex" method="POST" action="{% url 'searchn' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="searchn" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<div class="container">
    <div class="col-sm-12 ">
        <div class="container-fliuid">

            <h4 class="text-center bg-info my-3 py-3">Quick Notes</h4>
            
                <a href="/clinik/addnotes"><input type="submit" value="Add" class="btn btn-success my-3"></a>
            
        </div>
        {% if dt %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">DATE</th>
                  
                    <th scope="col">Action</th>                                              

                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for value in dt %}
                    <td class="td" scope="row">{{forloop.counter}}</td>
                    <td class="td" scope="row">{{value.title}}</td>
                    <td class="td">{{value.desc}}</td>
                    <td class="td">{{value.time}}</td>

                
                    <td>
                        <a href="{% url 'nupdate' value.id %}" class="btn btn-warning btn-sm ">EDIT</a>
                        <form action="{% url 'ndelete' value.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>

                </tr>

                {% endfor %}         
            </tbody>
        </table>


        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}



    </div>
</div>
</div>


<div class="container">

    <a href="/clinik"><button type="submit" class="btn btn-info">Back</button></a>
</div><br>


{% endblock content%}